@font-face {
	font-family: BebasNeueBold;
	src: url(fonts/BebasNeueBold.otf);
}
@font-face {
	font-family: BebasNeueRegular;
	src: url(fonts/BebasNeueRegular.otf);
}

html,body,h1,h2,h3,h4,h5,h6,p,figure,ul,ol{margin: 0;padding: 0;}
ul,ol{list-style-type:none;}
*{font-family: Arial, sans-serif;color:#181818;}
h1{font-family: BebasNeueBold;font-size: 100px;}
h2{font-family: BebasNeueBold;font-size: 72px;text-transform: uppercase;text-decoration: underline;color:#222630;}
.clr{clear:both;}
.maxwrap{width:100%;/* max-width: 1920px; */ margin: 0 auto;z-index: 1;position: relative;display: table;}
.maxwrap>.decorline+div{min-width:1280px;padding: 0 20px;position: relative;}
.minwrap{width: 941px;margin: 0 auto;position: relative;}
section{position: relative;}
section .maxwrap .decorline{position: absolute;width: 941px;height: 100%;z-index: -1;top:0;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);opacity: .5;}
section .maxwrap .decorline>div{position: absolute;width: 1px;height: 100%;top:0;background-color: #000; opacity: .2}
section .maxwrap .decorline>div.line1{left:0%;}
section .maxwrap .decorline>div.line2{left:33%;}
section .maxwrap .decorline>div.line3{left:66%;}
section .maxwrap .decorline>div.line4{left:100%;}

#head .logo{text-align: center;}
#head .logo>img{width: 144px;height: 99px;}
#head h1{text-transform: uppercase;text-align: center;margin-top: 140px;}
#head h1+p{font-size: 24px;text-transform: uppercase;text-align: center;font-family:BebasNeueRegular;margin-top: -6px;letter-spacing: 1px;}
#down{text-align:center;margin-top: 155px;}
#down>a{display: inline-block;pointer-events: none;
-webkit-animation: downarr 0.5s infinite; /* Safari 4+ */
  -moz-animation:    downarr 0.5s infinite; /* Fx 5+ */
  -o-animation:      downarr 0.5s infinite; /* Opera 12+ */
  animation:         downarr 0.5s infinite; /* IE 10+, Fx 29+ */
animation-direction: alternate;}
#wrapsec1{padding-top: 79px;padding-bottom: 79px;}
#about{background-color: #f3f3f3;}
#about .maxwrap{background-color: #f3f3f3;}
#about h2+p{font-family: BebasNeueRegular;letter-spacing:1px;font-size: 30px;color:#222630;margin-top: 306px;line-height: 1.5;position: relative;}
#about h2+p:before{content:"";position: absolute;top:-31px;left:-208px;background-repeat: no-repeat;background-position: center;background-image: url(../img/brain.png);width: 340px;height: 340px;z-index: -1;}
#about h2+p>a{color:#f71137;text-decoration: underline;font-family: BebasNeueBold;font-size: 30px;}
#wrapsec2{padding-top: 121px;padding-bottom: 120px;}
#about .maxwrap:before{z-index: -1;}
#about .maxwrap:after{content:"";position: absolute;width: 941px;height: 100%;z-index: -1;background-repeat: no-repeat;background-image: url(../img/autor.png);background-position: 405px 135px;top:0;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);}
#about .maxwrap>.decorline+div{overflow:hidden;}
#about .maxwrap>.decorline+div:before{content:"";position: absolute;width: 1936px;height: 100%; background-repeat: no-repeat;background-position: 0px 189px;background-image: url(../img/webdesgin_.png);top:0;left:calc(50% + 108px);left:-webkit-calc(50% + 108px);transform:translateX(-50%);-webkit-transform:translateX(-50%);}

#works .maxwrap:first-child{overflow:hidden;}
#wrapsec3{position: relative;padding-top: 121px;padding-bottom: 77px;}
#wrapsec3:after,#wrapsec3:before{content:"";background-repeat: no-repeat;background-position: center;position: absolute;}
#wrapsec3:before{width: 301px;height: 427px;top:-132px;right: -177px;background-image: url(../img/pencil.png);}
#wrapsec3:after{width: 816px;height: 288px;bottom:-130px;left: -376px;background-image: url(../img/folio.png);z-index: -1;}
#workslist{min-width:1320px;padding: 0;}
#workslist .worksitem{width: 25%;float:left;overflow: hidden;}
#workslist .worksitem a{display: block;position: relative;}
#workslist .worksitem a .text{position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;}
#workslist .worksitem a .text:before,#workslist .worksitem a .text:after{content:"";position: absolute;width: 50%;height: 100%;background-color: rgba(0,0,0,.78);z-index: 0;top:0;box-sizing:}
#workslist .worksitem a .text:before{left:0;border-right:0;}
#workslist .worksitem a .text:after{right:0;border-left:0;}
/* #workslist .worksitem a:hover .text:before{left:0;}
#workslist .worksitem a:hover .text:after{right:0;} */
#workslist .worksitem a .text>div{position: absolute;display: inline-block;top:50%;left:50%;transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);font-family: BebasNeueRegular;color:#fff;font-size: 36px;letter-spacing: 4px;width: 100%;text-align: center;z-index: 1;}
/* #workslist .worksitem a:hover .text>div{transform:translate(-50%, -50%) scale(1);-webkit-transform:translate(-50%, -50%) scale(1);} */
#workslist .worksitem a:hover .text{opacity: 1;transition: .3s}
#workslist .worksitem img{width: 100%;}
#workslist .worksitem figure{line-height: 0;}

#get_in_touch, #get_in_touch .maxwrap{background-color: #f71137;}
#get_in_touch .maxwrap{overflow:hidden;}
#get_in_touch h2,#get_in_touch h2>a{font-size: 100px;font-family: BebasNeueBold;color:#fff;text-decoration: none;text-align: center;}
#wrapsec4{min-width: 1320px;padding: 0;}
#get_in_touch h2{display: block;width: 100%;}
#get_in_touch h2 a{display: block;width: 100%;padding-top: 73px;padding-bottom: 60px;}
#get_in_touch .maxwrap:after{content: "";position: absolute;top: 0;right: 0;width: 140%;height: 100%;transform: translateX(100%);-webkit-transform: translateX(100%);background-color: #cb0b2b;opacity: 0;transition: transform 1.1s ease,opacity .3s ease;-webkit-transition: transform 1.1s ease,opacity .3s ease;z-index: -1;}
#get_in_touch .maxwrap:hover:after{transform: translateX(10%) skew(-20deg);-webkit-transform: translateX(10%) skew(-20deg);
    opacity: 1;}

#footer .copyrights{font-size: 12px;font-family: BebasNeueRegular;color:#222630;font-family: Arial,sans-serif;}
#wrapsec5{display: table;width: 100%;margin: 23px 0;}
#wrapsec5>div{display: table-cell;vertical-align: middle;width: 50%;}
#footer .links{text-align: right;}
#footer .links>a{background-repeat: no-repeat;background-position: center;display: inline-block;width: 20px;height: 20px;}
#footer .links>a:not(:last-child){margin-right: 6px;}
#footer .links .insta{background-image: url(../img/insta.png);}
#footer .links .telegr{background-image: url(../img/telegram.png);}
#footer .links .bebe{background-image: url(../img/be.png);}
#footer .links .twiter{background-image: url(../img/twit.png);}
#footer .links .vkont{background-image: url(../img/vk.png);}

#footer .links .insta:hover{opacity: .6}
#footer .links .telegr:hover{opacity: .6}
#footer .links .bebe:hover{opacity: .6}
#footer .links .twiter:hover{opacity: .6}
#footer .links .vkont:hover{opacity: .6}

@-webkit-keyframes downarr {
  0%   { transform:translateY(0px);-webkit-transform:translateY(0px); }
  100% { transform:translateY(-15px);-webkit-transform:translateY(-15px); }
}
@-moz-keyframes downarr {
  0%   { transform:translateY(0px);-webkit-transform:translateY(0px); }
  100% { transform:translateY(-15px);-webkit-transform:translateY(-15px); }
}
@-o-keyframes downarr {
  0%   { transform:translateY(0px);-webkit-transform:translateY(0px); }
  100% { transform:translateY(-15px);-webkit-transform:translateY(-15px); }
}
@keyframes downarr {
  0%   { transform:translateY(0px);-webkit-transform:translateY(0px); }
  100% { transform:translateY(-15px);-webkit-transform:translateY(-15px); }
}

/*@media only screen and (max-width: 920px){
	.main section>div{float:none;width: 100%;}
	.main .descr{padding-left: 0;}
	.main section figure{text-align: center;}
	.main section>div:first-child{margin-bottom: 30px;}
	.main .descr{text-align: center;}
	.main .descr p{width: 100%;}
}

@media only screen and (max-width: 768px){
  section .maxwrap .decorline{display: none;}
  .maxwrap>.decorline+div{width: calc(100% - 70px);width: -webkit-calc(100% - 70px);min-width: initial;padding: 0 35px;}
  .minwrap{width: 100%;}
  #workslist{min-width:initial;}
  #workslist .worksitem{width: 50%;}
  #get_in_touch .maxwrap:after,#wrapsec3:after, #wrapsec3:before,#about h2+p:before,#about .maxwrap>.decorline+div:before{display: none;}
  #wrapsec4{min-width:initial;width: 100%;}
  #about .maxwrap:after{width: 100%;background-position: 286px 135px;}
  #wrapsec3:before{display: block;right: -15px;}
}

@media only screen and (max-width: 420px){
  #wrapsec3:before{display: none;}
  #workslist .worksitem{width: 100%;}
  #head h1{font-size: 44px;margin-top: 100px;}
  #head h1+p{font-size: 15px;}
  h2{font-size: 44px;text-align: center;}
  h2 br{display: none;}
  .maxwrap>.decorline+div{width: calc(100% - 30px);width: -webkit-calc(100% - 30px);min-width: initial;padding: 0 15px;}
  #wrapsec2{padding: 50px 0;}
  #about .maxwrap:after{background-position: center 140px;background-size: 90%;width: 100%;}
  #wrapsec3{padding: 50px 0;}
  #about h2+p,#about h2+p>a{font-size: 18px;line-height: 2;}
  #get_in_touch h2 a{font-size: 60px;}
  #footer #wrapsec5, #footer #wrapsec5>div{width: 100%;display: block;padding: 5px 0;text-align: center;}
}
*/

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

img.mfp-img{
  width: 100%;
  max-width: 940px;
}

.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.9;}